/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Var */

:root {
  --principal: #e5e5e5;
  --secondary: #354f52;
  --tertiary: #bfab99;
  --background: #f2f2f2;
  --font-primary: "Rubik", sans-serif;
  --font-color-primary: #000000;

  --paleta-uno: #4c5943;
  --paleta-dos: #f2b077;
  --paleta-tres: #8c3d20;
  --paleta-cuatro: #f2f2f2;
  --paleta-cinco: #bfab99;
}

/* Normalize */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globals */

html {
  background-color: var(--background);
}

body {
  font-family: var(--font-primary) !important;
  background-color: var(--background) !important;
}

li {
  list-style: none;
}

/* NavBar Start*/

.navbar-toggler {
  margin-right: 4vh !important;
}

.active {
  color: #bfab99 !important;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.5rem;
  line-height: 21px;
  font-weight: 300;
}

.logo {
  height: 10vh;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--paleta-cinco);
  /* border-bottom: 2px solid #000; */
  text-decoration-line: underline;
}

.dropdown-item:hover {
  font-weight: bold;
  background-color: var(--paleta-cinco) !important;
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  /* .navbar .navbar-nav {
    border-bottom: 2px solid #000;
  } */
  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}

.navbar .navbar-nav {
  margin-top: 0.5em;
  margin-left: 4vh !important;
  /* border-top: 2px solid #000; */
}

.topBar {
  background-color: var(--tertiary);
  height: 6vh;
}

/* NavBar End*/

/* Carousel Start*/

.carousel {
  margin-right: 13vh !important;
  margin-left: 13vh !important;
}

/* Carousel End*/

/* Cards */

section.categories {
  width: 100%;
  background: var(--background);
  padding: 30px 0;
}

/* Cards End */

/* Categorias */
.textbanner {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
}

.textbanner-image {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px !important;
}

.textbanner-image.overlay:after {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  /* height: 100%; */
  background: #000;
  opacity: 0.3;
  content: "";
}

.textbanner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  width: 100%;
  padding: 10px 20px;
  color: var(--paleta-cuatro);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

.textbanner-image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textbanner-title {
  font-size: 2.1vh;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  font-family: "Rubik";
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 2vh;
}

.textbanner-paragraph {
  display: -webkit-box;
  margin-bottom: 20px;
  overflow: hidden;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.textbanner-link {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.textbanner-image {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.textbanner:hover .textbanner-image,
.textbanner:focus .textbanner-image {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);

  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.textbanner-image.overlay:after {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.card-item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.65, 0.65));
  margin-bottom: 20px;
}

/* Nostros Start*/

/* Nostros end*/

/* Footer Start*/

footer .footer__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--tertiary);
  align-items: center;
  color: var(--secondary);
}

.footer__container span {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  align-items: flex-start;
  padding: 0.3rem;
}

.footer__container .footer__redes {
  padding: 1rem;
}

.footer__container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.chat {
  position: fixed;
  bottom: 0.62rem;
  right: 1.25rem;
}

/* Footer End */

/* Comprar Start */
.imageBuy {
  border-radius: 15px;
}

.image2 {
  display: none;
}

@media only screen and (max-width: 500px) {
  .image1 {
    display: none;
  }

  .image2 {
    display: block;
  }
}

/* Comprar End */
