/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables Start */

:root {
  --principal: #e5e5e5;
  --secondary: #354f52;
  --tertiary: #bfab99;
  --background: #f2f2f2;

  --font-primary: "Rubik", sans-serif;
  --font-color-primary: #000000;
  --paleta-uno: #4c5943;
  --paleta-dos: #f2b077;
  --paleta-tres: #8c3d20;
  --paleta-cuatro: #f2f2f2;
  --paleta-cinco: #bfab99;
  --paleta-seis: #d9d9d9;
  --paleta-siete: #333333;
  --paleta-ocho: #4c5943;
}

/* Variables End */

/* Normalize Start*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalize End*/

/* Globals Start*/

html {
  background-color: var(--background);
}

body {
  font-family: var(--font-primary) !important;
  background-color: var(--background) !important;
}

li {
  list-style: none;
}

/* Globals End*/

/* NavBar Start*/

.dropdown-toggle::after {
  display: none !important;
}

#navbarSupportedContent > ul > li.nav-item.dropdown > ul {
  border: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.65, 0.65));
}

.navbar-toggler {
  margin-right: 4vh !important;
}

.active {
  color: var(--paleta-ocho) !important;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.25rem;
  line-height: 21px;
  font-weight: 300;
}

.logo {
  height: 10vh;
}

.dropdown-menu {
  margin-left: 2vh !important;
}

.dropdown-item {
  margin-bottom: 1vh;
}

#navbarSupportedContent > ul > li.nav-item.dropdown > ul > li:nth-child(5) > a {
  margin-bottom: 0px;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--paleta-ocho);
}

.dropdown-item:hover {
  font-weight: bold;
  background-color: transparent !important;
}

.navbar .navbar-nav {
  margin-top: 0.5em;
  margin-left: 4vh !important;
}

.topBar {
  background-color: var(--tertiary);
  height: 3.24vh;
}

/* NavBar End*/

/* Carousel Start*/

.carousel {
  margin-right: 13vh !important;
  margin-left: 13vh !important;
}

/* Carousel End*/

/* Cards */

section.categories {
  width: 100%;
  background: var(--background);
  padding: 30px 0;
}

/* Cards End */

/* Categorias Index Start */
.textbanner {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
}

.textbanner-image {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px !important;
}

.textbanner-image.overlay:after {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  background: #000;
  opacity: 0.3;
  content: "";
}

.textbanner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  width: 100%;
  padding: 10px 20px;
  color: var(--paleta-cuatro);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

.textbanner-image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textbanner-title {
  font-size: 2.1vh;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  font-family: "Rubik";
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 2vh;
}

.textbanner-paragraph {
  display: -webkit-box;
  margin-bottom: 20px;
  overflow: hidden;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.textbanner-link {
  display: block;
  width: 100%;
}

.textbanner-image {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.textbanner:hover .textbanner-image,
.textbanner:focus .textbanner-image {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);

  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.textbanner-image.overlay:after {
  -webkit-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.card-item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.65, 0.65));
  margin-bottom: 20px;
}

/* Categorias Index End */

/* Nostros Start*/

.title-nostros {
  line-height: 28.44px !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

.text-nostros {
  font-weight: 400 !important;
  line-height: 23.7px !important;
  font-size: 1.25rem !important;
}

/* Nostros end*/

/* Footer Start*/

.chat {
  position: fixed;
  bottom: 0.62rem;
  right: 1.25rem;
}

footer {
  background-color: var(--tertiary);
  padding: 1vh;
}

.footer-follow {
  display: inline-block !important;
}

.footer_span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.logo_footer {
  height: auto;
  width: 350px;
}

.footer-icons {
  color: var(--paleta-siete);
}

/* Footer End */

/* Comprar Start */

.container-comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #d9d9d9;
  max-width: 559px !important;
  min-width: 320px;
}

.step-text {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.step-item img {
  width: 120px;
  height: auto;
}

.step-item p {
  width: 241px;
  height: 72px;
  left: 622px;
  top: 245px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.step-item {
  justify-self: start;
  align-self: center;
  margin-bottom: 3vh !important;
  margin-top: 3vh !important;
}

/* Comprar End */

/* Contacto Start*/

.contactanos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "contactanos__form contactanos__container";
  align-items: center;
  gap: 1rem;
  margin: 3rem;
}

.contactanos__form {
  grid-area: contactanos__form;
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
  padding: 1rem;
  border-radius: 0.43rem;
  background-image: linear-gradient(to left, #354f52a6, #bfab99d0);
}

.contactanos__container {
  grid-area: contactanos__container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.contactanos__container .contacto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "contacto__img contacto__datos";
  text-align: center;
  align-items: center;
  justify-items: center;
}

.contactanos__container .contacto__img {
  grid-area: contacto__img;
  height: 20vh;
  border-radius: 1rem;
}

.contactanos__container .contacto__datos {
  grid-area: contacto__datos;
}

/* Contacto End*/

/* Productos Start*/
.bar {
  height: 9vh;
  background-color: var(--paleta-seis);
  font-size: 4rem;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: center;
}

/* Productos End*/

/* Media queries Start */
@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1244px) {
  .contenedor {
    height: 100px !important;
  }
}

@media only screen and (min-width: 1199px) and (max-width: 1399px) {
  .contenedor-n {
    height: 40px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1198px) {
  .contenedor-n {
    height: 100px !important;
  }
}

/* Media queries End */
